

//  Modal 
.modal.fade#exampleModal.mw-100(tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true")
     .container
         
          .modal-dialog
     
               .modal--content
                         
                         .modal-body.p-0
                              .id
                              button.modal--header--close(data-dismiss="modal" )
                                   img(src="./src/img/close.svg", alt="close")
                                   a(href="").modal--header--close__btn  بستن
                              .modal--body--status.flex-center
                                   p.category طراحی یوآی
                                   .dot 
                                   .data
                                        span.data__day 25
                                        span.data__mounth بهمن ماه
                                        span.data__years ،1400

                              a(href="javascript:void(0)").modal--body--title
                                   p.modal--body--title__text نظریه رنگ: چرخه  رنگ و یافتن رنگ های مکمل
                         
                              .modal--body--author.flex-center
                                   a.modal--body--author__link(href="javascript:void(0)")
                                        img.modal--body--author__link__img(width="56px" height="56px", src="./src/img/mohammad-reza.jpg", alt="img-dev") 

                                   .modal--body--author--detail 
                                        .modal--body--author--detail__name محمدرضا قاضیان
                                        .modal--body--author--detail__job توسعه دهنده


                              a.modal--body__links(href="javascript:void(0)") 
                                        img.modal--body__links__img(src="./src/img/modal.jpg", alt="image")

                              .modal--body--content
                                   p.modal--body--content__discription لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد

                                   p.modal--body--content__title رنگ های اصلی یا رنگ های درجه اول

                                   p.modal--body--content__discription لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد

                                   p.modal--body--content__title ترکیبات رنگ های اصلی

                                   p.modal--body--content__discription لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد

                                   p.modal--body--content__title رنگ های مکمل چه رنگ هایی هستند؟

                                   p.modal--body--content__discription لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد


section#intro
     .container 
          .row#hugeSection
               .col-12 
                    figure.wrapper--blog
                              .id
                              a.wrapper--blog__link(href="javascript:void(0)") 
                                   img.wrapper--blog__link__img(src="./src/img/blog-img.jpg", alt="image")

                              figcaption.wrapper--blog--caption
                                   .wrapper--blog--caption--status.flex-center-right
                                        p.category طراحی یوآی
                                        .dot 
                                        .data
                                             span.data__day 25
                                             span.data__mounth بهمن ماه
                                             span.data__years ،1400
                                   a(href="javascript:void(0)").wrapper--blog--caption--title 
                                        p.wrapper--blog--caption--title__text نظریه رنگ: چرخه  رنگ و یافتن رنگ های مکمل
                                   .wrapper--blog--caption--meta
                                        p.wrapper--blog--caption--meta__discription لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
                                        a.wrapper--blog--caption--meta__readMore(href="javascript:void(0)") ادامه مطلب
                                             img(src="./src/img/left-ico.svg", alt="")

                                   .wrapper--blog--caption--author.flex-center-right
                                        a.wrapper--blog--caption--author__link(href="javascript:void(0)")
                                             img.wrapper--blog--caption--author__link__img(src="./src/img/mohammad-reza.jpg", alt="img-dev") 

                                        .wrapper--blog--caption--author--detail 
                                             .wrapper--blog--caption--author--detail__name محمدرضا قاضیان
                                             .wrapper--blog--caption--author--detail__job توسعه دهنده
                    

// section blog for news or information website
section.blog
     .container     
          .row#blog--list 
              .col-lg-4.col-md-6.col-sm-12.col-12
                     
                    figure.wrapper--blog
                         .id

                         a.wrapper--blog__link(href="javascript:void(0)") 
                              img.wrapper--blog__link__img(src="./src/img/blog-img.jpg", alt="image")

                         figcaption.wrapper--blog--caption
                              .wrapper--blog--caption--status.flex-center-right
                                   p.category طراحی یوآی
                                   .dot 
                                   .data
                                        span.data__day 25
                                        span.data__mounth بهمن ماه
                                        span.data__years ،1400
                              a(href="javascript:void(0)").wrapper--blog--caption--title 
                                   p.wrapper--blog--caption--title__text نظریه رنگ: چرخه  رنگ و یافتن رنگ های مکمل
                              .wrapper--blog--caption--meta
                                   p.wrapper--blog--caption--meta__discription لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
                                   a.wrapper--blog--caption--meta__readMore(href="javascript:void(0)javascript:void(0)") ادامه مطلب
                                        img(src="./src/img/left-ico.svg", alt="")

                              .wrapper--blog--caption--author.flex-center-right
                                   a.wrapper--blog--caption--author__link(href="javascript:void(0)")
                                        img.wrapper--blog--caption--author__link__img(src="./src/img/mohammad-reza.jpg", alt="img-dev") 

                                   .wrapper--blog--caption--author--detail 
                                        .wrapper--blog--caption--author--detail__name محمدرضا قاضیان
                                        .wrapper--blog--caption--author--detail__job توسعه دهنده
              .col-lg-4.col-md-6.col-sm-12.col-12
                     
                    figure.wrapper--blog
                         .id
                         a.wrapper--blog__link(href="javascript:void(0)") 
                              img.wrapper--blog__link__img(src="./src/img/blog-img.jpg", alt="image")

                         figcaption.wrapper--blog--caption
                              .wrapper--blog--caption--status.flex-center-right
                                   p.category طراحی یوآی
                                   .dot 
                                   .data
                                        span.data__day 25
                                        span.data__mounth بهمن ماه
                                        span.data__years ،1400
                              a(href="javascript:void(0)").wrapper--blog--caption--title 
                                   p.wrapper--blog--caption--title__text نظریه رنگ: چرخه  رنگ و یافتن رنگ های مکمل
                              .wrapper--blog--caption--meta
                                   p.wrapper--blog--caption--meta__discription لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
                                   a.wrapper--blog--caption--meta__readMore(href="javascript:void(0)javascript:void(0)") ادامه مطلب
                                        img(src="./src/img/left-ico.svg", alt="")

                              .wrapper--blog--caption--author.flex-center-right
                                   a.wrapper--blog--caption--author__link(href="javascript:void(0)")
                                        img.wrapper--blog--caption--author__link__img(src="./src/img/mohammad-reza.jpg", alt="img-dev") 

                                   .wrapper--blog--caption--author--detail 
                                        .wrapper--blog--caption--author--detail__name محمدرضا قاضیان
                                        .wrapper--blog--caption--author--detail__job توسعه دهنده
              .col-lg-4.col-md-6.col-sm-12.col-12
                     
                    figure.wrapper--blog
                         .id
                         a.wrapper--blog__link(href="javascript:void(0)") 
                              img.wrapper--blog__link__img(src="./src/img/blog-img.jpg", alt="image")

                         figcaption.wrapper--blog--caption
                              .wrapper--blog--caption--status.flex-center-right
                                   p.category طراحی یوآی
                                   .dot 
                                   .data
                                        span.data__day 25
                                        span.data__mounth بهمن ماه
                                        span.data__years ،1400
                              a(href="javascript:void(0)").wrapper--blog--caption--title 
                                   p.wrapper--blog--caption--title__text نظریه رنگ: چرخه  رنگ و یافتن رنگ های مکمل
                              .wrapper--blog--caption--meta
                                   p.wrapper--blog--caption--meta__discription لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
                                   a.wrapper--blog--caption--meta__readMore(href="javascript:void(0)") ادامه مطلب
                                        img(src="./src/img/left-ico.svg", alt="")

                              .wrapper--blog--caption--author.flex-center-right
                                   a.wrapper--blog--caption--author__link(href="javascript:void(0)")
                                        img.wrapper--blog--caption--author__link__img(src="./src/img/mohammad-reza.jpg", alt="img-dev") 

                                   .wrapper--blog--caption--author--detail 
                                        .wrapper--blog--caption--author--detail__name محمدرضا قاضیان
                                        .wrapper--blog--caption--author--detail__job توسعه دهنده
              .col-lg-4.col-md-6.col-sm-12.col-12
                     
                    figure.wrapper--blog
                         .id
                         a.wrapper--blog__link(href="javascript:void(0)") 
                              img.wrapper--blog__link__img(src="./src/img/blog-img.jpg", alt="image")

                         figcaption.wrapper--blog--caption
                              .wrapper--blog--caption--status.flex-center-right
                                   p.category طراحی یوآی
                                   .dot 
                                   .data
                                        span.data__day 25
                                        span.data__mounth بهمن ماه
                                        span.data__years ،1400
                              a(href="javascript:void(0)").wrapper--blog--caption--title 
                                   p.wrapper--blog--caption--title__text نظریه رنگ: چرخه  رنگ و یافتن رنگ های مکمل
                              .wrapper--blog--caption--meta
                                   p.wrapper--blog--caption--meta__discription لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
                                   a.wrapper--blog--caption--meta__readMore(href="javascript:void(0)") ادامه مطلب
                                        img(src="./src/img/left-ico.svg", alt="")

                              .wrapper--blog--caption--author.flex-center-right
                                   a.wrapper--blog--caption--author__link(href="javascript:void(0)")
                                        img.wrapper--blog--caption--author__link__img(src="./src/img/mohammad-reza.jpg", alt="img-dev") 

                                   .wrapper--blog--caption--author--detail 
                                        .wrapper--blog--caption--author--detail__name محمدرضا قاضیان
                                        .wrapper--blog--caption--author--detail__job توسعه دهنده
              .col-lg-4.col-md-6.col-sm-12.col-12
                     
                    figure.wrapper--blog
                         .id
                         a.wrapper--blog__link(href="javascript:void(0)") 
                              img.wrapper--blog__link__img(src="./src/img/blog-img.jpg", alt="image")

                         figcaption.wrapper--blog--caption
                              .wrapper--blog--caption--status.flex-center-right
                                   p.category طراحی یوآی
                                   .dot 
                                   .data
                                        span.data__day 25
                                        span.data__mounth بهمن ماه
                                        span.data__years ،1400
                              a(href="javascript:void(0)").wrapper--blog--caption--title 
                                   p.wrapper--blog--caption--title__text نظریه رنگ: چرخه  رنگ و یافتن رنگ های مکمل
                              .wrapper--blog--caption--meta
                                   p.wrapper--blog--caption--meta__discription لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
                                   a.wrapper--blog--caption--meta__readMore(href="javascript:void(0)") ادامه مطلب
                                        img(src="./src/img/left-ico.svg", alt="")

                              .wrapper--blog--caption--author.flex-center-right
                                   a.wrapper--blog--caption--author__link(href="javascript:void(0)")
                                        img.wrapper--blog--caption--author__link__img(src="./src/img/mohammad-reza.jpg", alt="img-dev") 

                                   .wrapper--blog--caption--author--detail 
                                        .wrapper--blog--caption--author--detail__name محمدرضا قاضیان
                                        .wrapper--blog--caption--author--detail__job توسعه دهنده
              .col-lg-4.col-md-6.col-sm-12.col-12
                     
                    figure.wrapper--blog
                         .id
                         a.wrapper--blog__link(href="javascript:void(0)") 
                              img.wrapper--blog__link__img(src="./src/img/blog-img.jpg", alt="image")

                         figcaption.wrapper--blog--caption
                              .wrapper--blog--caption--status.flex-center-right
                                   p.category طراحی یوآی
                                   .dot 
                                   .data
                                        span.data__day 25
                                        span.data__mounth بهمن ماه
                                        span.data__years ،1400
                              a(href="javascript:void(0)").wrapper--blog--caption--title 
                                   p.wrapper--blog--caption--title__text نظریه رنگ: چرخه  رنگ و یافتن رنگ های مکمل
                              .wrapper--blog--caption--meta
                                   p.wrapper--blog--caption--meta__discription لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد
                                   a.wrapper--blog--caption--meta__readMore(href="javascript:void(0)") ادامه مطلب
                                        img(src="./src/img/left-ico.svg", alt="")

                              .wrapper--blog--caption--author.flex-center-right
                                   a.wrapper--blog--caption--author__link(href="javascript:void(0)")
                                        img.wrapper--blog--caption--author__link__img(src="./src/img/mohammad-reza.jpg", alt="img-dev") 

                                   .wrapper--blog--caption--author--detail 
                                        .wrapper--blog--caption--author--detail__name محمدرضا قاضیان
                                        .wrapper--blog--caption--author--detail__job توسعه دهنده
            


<!-- Button trigger modal -->
button.btn.btn-primary(type="button", data-toggle="modal", data-target="#exampleModal").
  
  Launch demo modal
  

